.container {
    display: flex;
    height: 100%;
}

.chat-container {
    background-color: #222429;;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.chat-panel {
    height: 100%;
    display: flex;
    flex-direction: column;
}