.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222429;
    height: 75px;
    padding: 0 24px;
    border-bottom: 1px solid #2F3135;
}

.topbar__user-profile {
    display: flex;
    align-items: center;
    height: 100%;
    width: 200px;
}

.topbar__title {
    color: #EAEAEA;
}

.topbar__user-profile__name {
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #EAEAEA;
}

.topbar__user-profile__avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.topbar__user-profile__dropdown {
    margin-left: 10px;
    margin-top: 2px;
    font-size: 21px;
    color: #EAEAEA;
}